/* div {
    border: 1px solid black;
} */

#navFlex {
	display: flex;
	justify-content: center;
}
#navFlex li {
	margin: 0 1vh;
}
#navFlex li a{
	color: aquamarine;
}
footer {
	background-color: aquamarine;
}
#footerNavFlex {
	display: flex;
	justify-content: center;
}
#footerNavFlex li {
	margin: 0 1vh;
}
#footerNavFlex li a{
	color: black;
}
footer p {
	display: flex;
	justify-content: center;
	border-top: 1px solid black;
}
img {
	width: 100%;
}
.aboutImg {
	width: 50%;
}

.textAlignLeft {
	text-align: left;
} 

#headerBackgroundImg {
	height: 20vh;
	background: url(./images/blog_header_bg.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;

	display: flex;
  	justify-content: center;
	align-items: center;
	
	color: white;
}
